In [7]:
import numpy as np
import pandas as pd
import sqlalchemy

!pip install pymysql

student_conn_string = "mysql+pymysql://student:p7%40vw7MCatmnKjy7@data.engeto.com/data"
engeto_data_conn = sqlalchemy.create_engine(student_conn_string)

Requirement already satisfied: pymysql in c:\users\honzik\anaconda3\lib\site-packages (1.0.2)

**Priprava dat
- nactu si data z sql databaze
- stahnu si je k sobe do pocitace jako csv, abych mohla pracovat i offline

In [14]:
# nactu si data
query = "select * from edinburgh_bikes"
bikes_df = pd.read_sql(query, engeto_data_conn)

In [ ]:
# stahnu si data k sobe do pocitace
bikes_df = bikes_df.to_csv('edinburgh_bikes.csv')

**Prvotni studium dat
 - prvni prohlednuti obsahu data frame
 - blizsi prozkoumani vlastnosti data frame
 - zakladni popisne statistiky

In [15]:
# zbezne data prohlednu
bikes_df.head()

,index,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
0,0,2018-09-15 08:52:05,2018-09-15 09:11:48,1182,247,Charlotte Square,North Corner of Charlotte Square,55.952335,-3.207101,259,St Andrew Square,North East corner,55.954728,-3.192653
1,1,2018-09-15 09:24:33,2018-09-15 09:41:09,995,259,St Andrew Square,North East corner,55.954749,-3.192774,262,Canonmills,near Tesco's,55.962804,-3.196284
2,2,2018-09-15 09:48:54,2018-09-15 10:46:40,3466,262,Canonmills,near Tesco's,55.962804,-3.196284,250,Victoria Quay,Entrance to Scottish Government Office,55.977638,-3.174116
3,3,2018-09-16 12:01:36,2018-09-16 12:25:26,1430,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,254,Kings Building 3,Kings Building House,55.923479,-3.175385
4,4,2018-09-16 12:03:43,2018-09-16 12:11:16,452,255,Kings Buildings 4,X-Y Cafe,55.922001,-3.176902,253,Kings Building 2,Sanderson Building,55.923202,-3.171646

In [23]:
# zjistim blizsi info o data frame (datove typy, pocet radku a sloupcu)
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340986 entries, 0 to 340985
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      340986 non-null  int64
 1   started_at                 340986 non-null  datetime64[ns]
 2   ended_at                   340986 non-null  datetime64[ns]
 3   duration                   340986 non-null  int64
 4   start_station_id           340986 non-null  int64
 5   start_station_name         340986 non-null  object
 6   start_station_description  338612 non-null  object
 7   start_station_latitude     340986 non-null  float64
 8   start_station_longitude    340986 non-null  float64
 9   end_station_id             340986 non-null  int64
 10  end_station_name           340986 non-null  object
 11  end_station_description    338426 non-null  object
 12  end_station_latitude       340986 non-null  float64
 13  end_station_longitude      340986 non-null  float64
dtypes: datetime64[ns](2), float64(4), int64(4), object(4)
memory usage: 36.4+ MB

In [24]:
# podivam se na zakladni popisne statistiky
bikes_df.describe()

,index,duration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude
count,340986.000000,3.409860e+05,340986.000000,340986.000000,340986.000000,340986.000000,340986.000000,340986.000000
mean,9383.824186,2.061247e+03,873.602186,55.950954,-3.197067,912.859499,55.952805,-3.196056
std,7516.833478,8.703688e+03,657.828175,0.013604,0.039233,664.571468,0.016303,0.041459
min,0.000000,6.100000e+01,171.000000,55.908404,-3.407156,171.000000,53.395525,-3.407156
25%,3320.000000,6.200000e+02,259.000000,55.940238,-3.207964,262.000000,55.941791,-3.208070
50%,7433.000000,1.147000e+03,862.000000,55.948949,-3.192444,880.000000,55.951501,-3.191890
75%,13523.000000,2.512000e+03,1728.000000,55.959410,-3.180986,1728.000000,55.962642,-3.176686
max,29550.000000,1.373043e+06,2268.000000,55.992957,-3.058307,2268.000000,55.992957,-2.990138